html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  width: 100%;
}

a:hover {
  background-color: #a63f38;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

header {
  background-color: #d05c2e;
  border: 3px solid #a63f38;
}

.grains {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: .5em 0;
}

.links {
  border-top: 2px solid #a63f38;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin: 0;
}

img {
  display: block;
  width: 40px;
}

.legumes {
  border: none;
}

li {
  border-right: 2px solid #a63f38;
  width: 33.3333%;
  padding: .5em 0;
}

body {
  background-color: #fff;
  margin: 0;
}
